<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1JFJzwN9QKfnTWZxp2g5YB1RzLBpcCNo</string>
	<key>GCM_SENDER_ID</key>
	<string>43857911306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victorchang.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-47401</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-47401.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43857911306:ios:cef0486fd5cb06effa89f3</string>
</dict>
</plist>